Repository 98sean98/imu-mapping-online: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint-fix

create drag and drop upload component
  src/App.tsx
  src/components/DragAndDropUpload.tsx
  src/utilities/context/AppContext.ts
  src/utilities/context/index.ts
  src/utilities/hooks/index.ts
  src/utilities/hooks/useAppContext.ts
Due: yarn lint-fix

build side effect to unzip the uploaded file into a lot of files
  package.json
  src/App.tsx
  yarn.lock
Due: prettier --write, yarn lint-fix

add *.zip to gitignore
  .gitignore
Due: none

read rotation matrix file and parse data into matrix
  package.json
  src/App.tsx
  src/components/FileReadingAndDataParsing.tsx
  src/components/PerformAlgorithm.tsx
  src/models/RotationMatrixData.ts
  src/utilities/context/AppContext.ts
  yarn.lock
Due: prettier --write, yarn lint-fix

build plot data component
  package.json
  src/App.tsx
  src/components/DragAndDropUpload.tsx
  src/components/PerformAlgorithm.tsx
  src/components/PlotData.tsx
  src/index.css
  src/models/Displacement.ts
  src/utilities/context/AppContext.ts
  yarn.lock
Due: prettier --write, yarn lint-fix

write algorithm
  src/components/FileReadingAndDataParsing.tsx
  src/components/PerformAlgorithm.tsx
  src/components/PlotData.tsx
Due: yarn lint-fix

fix bugs and improve ux
  src/App.tsx
  src/components/FileReadingAndDataParsing.tsx
  src/components/PerformAlgorithm.tsx
  src/components/PlotData.tsx
  src/utilities/context/AppContext.ts
Due: yarn lint-fix

build algorithm parameters configuration component
  src/App.tsx
  src/components/ConfigureAlgorithmParameters.tsx
  src/components/PerformAlgorithm.tsx
  src/models/AlgorithmParameters.ts
  src/utilities/context/AppContext.ts
  src/utilities/initial-data/initialAlgorithmParameters.ts
Due: yarn lint-fix

fix data time cut off implementation in algorithm
  src/components/PerformAlgorithm.tsx
Due: yarn lint-fix

build generated information component
  src/App.tsx
  src/components/GeneratedInformation.tsx
Due: yarn lint-fix

improve minor ui ux
  src/components/ConfigureAlgorithmParameters.tsx
  src/components/DragAndDropUpload.tsx
  src/utilities/initial-data/initialAlgorithmParameters.ts
Due: yarn lint-fix

deploy: bedebc2c393187ddc0a1a38239c946bef8a17a3c
  .nojekyll
  CNAME
Due: none

setup github actions to deploy to production
  .github/workflows/production.yml
Due: none

fix non-critical bug in algorithm
  src/components/PerformAlgorithm.tsx
Due: yarn lint-fix

update readme
  README.md
Due: prettier --write

fix minor ui ux bugs
  src/components/ConfigureAlgorithmParameters.tsx
  src/components/GeneratedInformation.tsx
  src/utilities/functions/parseNumberAsInputValue.ts
Due: yarn lint-fix

set production action to run on master branch only
  .github/workflows/production.yml
Due: none

change public logo and site name
  public/favicon.ico
  public/index.html
  public/logo128.png
  public/logo192.png
  public/logo512.png
  public/manifest.json
Due: prettier --write

sprint build this project (#1)
  .github/workflows/production.yml
  .gitignore
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/logo128.png
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/App.tsx
  src/components/ConfigureAlgorithmParameters.tsx
  src/components/DragAndDropUpload.tsx
  src/components/FileReadingAndDataParsing.tsx
  src/components/GeneratedInformation.tsx
  src/components/PerformAlgorithm.tsx
  src/components/PlotData.tsx
  src/index.css
  src/models/AlgorithmParameters.ts
  src/models/Displacement.ts
  src/models/RotationMatrixData.ts
  src/utilities/context/AppContext.ts
  src/utilities/context/index.ts
  src/utilities/functions/parseNumberAsInputValue.ts
  src/utilities/hooks/index.ts
  src/utilities/hooks/useAppContext.ts
  src/utilities/initial-data/initialAlgorithmParameters.ts
  yarn.lock
Due: prettier --write, yarn lint-fix

hack the ui to render plot more efficiently
  src/App.tsx
  src/components/FileReadingAndDataParsing.tsx
  src/components/PerformAlgorithm.tsx
  src/components/PlotData.tsx
  src/models/Stage.ts
  src/utilities/context/AppContext.ts
Due: yarn lint-fix

adjust ui
  src/App.tsx
Due: yarn lint-fix

hack the ui (#2)
  src/App.tsx
  src/components/FileReadingAndDataParsing.tsx
  src/components/PerformAlgorithm.tsx
  src/components/PlotData.tsx
  src/models/Stage.ts
  src/utilities/context/AppContext.ts
Due: yarn lint-fix

deploy: 8ab6a7b1689c78f23d24d39fb423e56b8271d729
  asset-manifest.json
  index.html
  static/js/main.8d652dc3.chunk.js
  static/js/main.8d652dc3.chunk.js.map
  static/js/main.9c5ea94f.chunk.js
  static/js/main.9c5ea94f.chunk.js.map
Due: prettier --write

fix the bias correction rotation matrix
  src/components/PerformAlgorithm.tsx
Due: yarn lint-fix

deploy: 8e8c50cbbc6a336592efe40d4b75c1aacb75fcef
  asset-manifest.json
  index.html
  static/js/main.05a4f722.chunk.js
  static/js/main.05a4f722.chunk.js.map
  static/js/main.8d652dc3.chunk.js
  static/js/main.8d652dc3.chunk.js.map
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,css,json,md}
  yarn lint-fix: any of: *.{ts,tsx}
